@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Variable.ttf') format('truetype');
  font-weight: 100 900; /* Supports all weights */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Variable-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BonaNovaSC';
  src: url('../public/fonts/BonaNovaSC-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

body {
  background: #202126;
  background: #19191d;
  background: linear-gradient(#202126, #19191d);
}
li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.slideRight {
  opacity: 0;
  animation: slideRight 500ms ease-in-out forwards;

}
.nature {
  background-image: url('./assets/nature-gray.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.fadeIn {
  animation: fadeIn 3s forwards;
  opacity: 0;
}
.fades {
  animation: fades 500ms forwards ease-in-out;
  animation-delay: 1000ms;
  background-color: #202126;
  transform: translateX(-100%);
}
.slideUp {
  animation: slideUp 500ms forwards ease-in-out;
  transform: translateY(-200%);
}
@keyframes slideUp {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fades {
  0% {
    background-color: #202126;
  }
  100% {
    background-color: #19191d;
    transform: translateX(0);
  }
}
.slideDown {
  animation: slideDown 500ms forwards ease-in-out;
  transform: translateY(-200%);
}
@keyframes slideDown {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fades {
  0% {
    background-color: #202126;
  }
  100% {
    background-color: #19191d;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

